body{
    background-color: white;
    font-family:'Times New Roman', Times, serif;
    border-style:double ;
    border-radius: 30px;
}

nav{
    background-color: whitesmoke;
    position: absolute;
    top:5%;
    left:3%;
    width: 35%;
    height: 70%;
    border-radius: 30px;
}

main{
    background-color: whitesmoke;
    position: absolute;
    top:14%;
    left: 39%;
    width: 56%;
    height: 61%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 30px;
}

name{
    background-color: whitesmoke;
    position: absolute;
    top:5%;
    left: 39%;
    width: 58%;
    height: 6%;
    text-align: center;
    margin: auto;
    font-size: x-large;
    padding-top: 1%;
    border-radius: 30px;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    width: 94%;
    height:9%;
    top:76%;
    left:3%;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 30px;
}

formulaire{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    width: 94%;
    height:9%;
    top:86%;
    left:3%;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 30px;
    grid-gap: 2%;
}

nav > img{
    display: block;
    max-width: 32%;
    margin: left;
    padding-top: 3%;
    padding-left: 3%;
    border-radius: 30px;
}

nav > .presentation > a{
    position:relative;
    left: 15%;
    font-size: x-large;
    text-decoration: none;
    color: rgb(71, 71, 71);
}

nav > .presentation > a:hover{
    color: grey;
}

.profil{
    position: absolute;
    top: 3%;
    left:37%;
    width:58%;
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 30px;
}

.loisirs{
    position: absolute;
    top: 28%;
    left:37%;
    width:58%;
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 30px;
}

input{
    height:50%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}